$font-color: #fff;
$background-color: rgba(64, 64, 206, 0.5); //blue
$fog-color: darkolivegreen;
$night-color: rgba(230, 50, 140, 0.39); //ruby or midnightblue
$mask-color: rgba(0, 0, 0, 0.1);
$button-color: transparent;
$border-color: lightgray;
$container-bgcolor: #f2f2f2;
$button-textcolor: #fff;
$shadowcolor: #fff;
$text-shadow-color: #000;
$fadecolor: rgba(255, 255, 255, 0.6);
$snow-color: rgba(63, 108, 119, 0.486);
